version: Build {build}
branches:
  only:
  - master
  - dev
image: Visual Studio 2017
environment:
  global:
    PUBLISH_CLIENTSECRET:
      secure: W05b1l4blNjHLLvLzmR7/+AGocyZL82Chp0Z3vNf3cXXUVlgAtsabC33KQ3T0rfS
install:
- ps: .\AppVeyor\Install.ps1
build_script:
- ps: >-
    .\AppVeyor\Build.ps1
deploy_script:
- ps: >-
    .\AppVeyor\Publish.ps1
cache:
- '%USERPROFILE%\.nuget\packages -> **\*.csproj'
artifacts:
- path: '.\AppxPackages'
  name: AppxPackages
